<section id="timetable">
  <div class="container py-4 py-xl-2">
    <div class="card">
      <div class="card-body">
        <h2 class="display-6 fw-bold mb-4"><i class="bi bi-calendar"></i> タイムテーブル</h2>
        <div class="row justify-content-center">
          <div class="col">
            <div class="table-responsive">

              <table class="table table-light table-hover" style="overflow: inherit; word-break: break-word;">
                <thead>
                  <tr>
                    <th style="width: 30%">時間</th>
                    <th style="width: 70%">トラック</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>